html
  head
    title= title
    script(src='https://unpkg.com/@shopify/app-bridge')
    script.
      var AppBridge = window['app-bridge'];
      var actions = window['app-bridge'].actions;    
      var AppBridge = window['app-bridge'];
      var createApp = AppBridge.default;
      var TitleBar = actions.TitleBar;      
      var Button = actions.Button;
      var Redirect = actions.Redirect;   
      var app = createApp({
        apiKey: '#{API_KEY}',
        shopOrigin: '#{shop}',
      });        

      var titleBarOptions = {
        title: '#{title}'
      };

      var myTitleBar = TitleBar.create(app, titleBarOptions);   

  body
    h1= title
    p= message
    each group in groups
      ul  
        li=group.groupName



