html
  head
    title= title
    include /partials/head.pug
    script.
      var AppBridge = window['app-bridge'];
      var actions = window['app-bridge'].actions;    
      var AppBridge = window['app-bridge'];
      var createApp = AppBridge.default;
      var TitleBar = actions.TitleBar;      
      var Button = actions.Button;
      var Redirect = actions.Redirect;   
      var app = createApp({
        apiKey: '#{API_KEY}',
        shopOrigin: '#{shop}',
      });        

      var titleBarOptions = {
        title: '#{title}'
      };

      var myTitleBar = TitleBar.create(app, titleBarOptions);   

  body
    div.header
      h1= title
    ul.groups.header-list
      li.three.columns= "Group Name"
      li.three.columns= "Group Id"
      li.two.columns= "Zip"
      li.two.columns= "Total Raised"
      li.two.columns= "Approved"
    .groups-list
      each group in groups
        ul.groups.row  
          li.three.columns= group.groupName
          li.three.columns= group.groupID
          li.two.columns= group.zip
          li.two.columns.fourth-item= group.totalRaised
          if group.approved == true
            li.two.columns.fifth-item
              input(
                type='checkbox'
                name='approved'
                checked=true
              ) 
          else
            li.two.columns.fifth-item
              input(
                type='checkbox'
                name='approved'
                class='group-approved'
                data-group=group.groupID
                checked=false
              ) 

    script(src='/views/assets/app.js')



