html
  head
    title= title
    include /partials/head.pug
    script.
      var AppBridge = window['app-bridge'];
      var actions = window['app-bridge'].actions;    
      var AppBridge = window['app-bridge'];
      var createApp = AppBridge.default;
      var TitleBar = actions.TitleBar;      
      var Button = actions.Button;
      var Redirect = actions.Redirect;   
      var app = createApp({
        apiKey: '#{API_KEY}',
        shopOrigin: '#{shop}',
      });        

      var titleBarOptions = {
        title: '#{title}'
      };

      var myTitleBar = TitleBar.create(app, titleBarOptions);   

  body
    h1= title
    p= message
    each group in groups
      p=group.groupName
      ul  
        li=group.groupID
        li=group.zip
        li=group.totalRaised
        li=group.approved



